<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="vapps-private" value="https://www.myget.org/F/vapps-private/auth/1e0b67b4-9225-4f7b-9252-a37e00924af2/api/v2" />
    <add key="vapps-public" value="https://www.myget.org/F/vapps-public/api/v3/index.json" />
    <add key="vapps-bleeding-edge" value="https://www.myget.org/F/vapps-bleeding-edge/auth/1e0b67b4-9225-4f7b-9252-a37e00924af2/api/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>